@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

$color_1:#272323;
$color_2: #4238AF;
$color_3: #353434;
$color_4: #FF5C00;
$color_5: #A8A8A8;
$color_6:  #544CAC;
$color_7: #F5F7FF;
$color_8: #F9FAFF;
$color_9: #CED5F4;
$color_10: #625BAE;
$color_11: #ffff;
$color_12: #A5A5A5;
$color_13: #9444C9;
$color_14: #F3E0FF;
$color_15: #E7E9FE;
$color_16: #FFDECC;
$color_17: #323232;
$color_18: #6156DC;
$color_19: #EF6010;
$color_20: #A73EED;
$color_21: #8F8F8F;
$color_22: #898989;
$color_23: #38318B;
$color_24: #868686;
$color_25: #584EC6;
$color_26: #8A86B9;
$color_27: #BDBBD9;
$color_28: #DBE2FF;
$color_29: #717171;
$color_30: #3A2E5C;
$color_31: #FFC085;
$fz-xs: 12px;
$fz-s: 14px;
$fz-m: 16px;
$fz-l: 20px;
$fz-xl: 24px;
$fz-xxl: 40px;
$fz-xxxl: 45px;
$ff-prom: "Prompt", serif;
$ff-os: "Open Sans", serif;
$ff-o: "Oswald", serif;
%mntitle {
    
        text-align: center;
        font-family: $ff-o;
        font-size: $fz-xxl;
        letter-spacing: 5%;
        line-height: 50px;
        color: $color_3;
        font-weight: 400;
       
}

%mnsubtitle {
    margin-top: 20px;
        text-align: center;
        max-width: 600px;
        color: $color_5;
        font-family: $ff-os;
        line-height: 24px;
        font-size: $fz-s;
}



*{ 
    margin: 0; 
    padding: 0;
    box-sizing: inherit;
    
}

html, body {
    margin: 0 auto;
    background-color: $color_11;
    box-sizing: border-box;
    font-style: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0px 10px;
    width: 100%;
    
    
}

.header {
    background: $color_7;
    max-width: 100%;
    padding: 23px 10px 10px 10px;
    .header__container{
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        
    }
    .header_logo{
      height: 45px;
      max-width: 104px;
      margin-right: 40px;
    }
   
   
    .menu_link {
      color: $color_1;
}
    
}



 .menu_item {
        font-size: $fz-s;
        font-family: $ff-os;
        font-style: normal;
        margin-right: 13px;
        letter-spacing: 2%;
        line-height: 24px;
        font-weight: 500;
        padding: 5px ;
        
    }  

    .menu_link {
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .menu_link:hover {
        color: $color_2; 
        background-color: #f0f0f0; 
        border-radius: 5px; 
        
    }

.header_menu {
    display: flex;
    justify-content: center; 
    align-items: center;
}

 .menu_list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
 }

 .input__login {
    display: flex;
    justify-content: center; 
    align-items: center;
 }

 .input-login__input {
    position: relative;
    display: flex;
    align-items: center;
    
    

    .search-input {
        border: none;
        background-color: $color_11;
        color: $color_12;
        padding: 8px 8px 8px 10px;
        border-radius: 8px;
        font-size: 12px;
        border-radius: 50px;
        max-width: 300px;
        font-family: $ff-os;
        font-size: $fz-s;
        letter-spacing: 2%;
    
    }
    .search-icon {
        display: flex;
            position: absolute;
            right: 6px;
            font-size: 16px; 
            color: #aaa;
            top: 2px;
            background-color: $color_7;
            padding: 7px;
            border-radius: 50px;
            margin: 1px;
        }
        
 }
.input-login__autorisation {
             display: flex;
            margin-left: 20px;
            
            
            
            .btn_signup {
                color: $color_6;
                font-size: $fz-m;
                letter-spacing: 2%;
                font-family: $ff-os;
                cursor: pointer;
                position: relative;
                
            }

           
            

            .btn_signup:not(:last-child)::after {
                content: ''; 
                position: absolute;
                top: 50%;
                right: 25; 
                transform: translateY(50%) rotate(-50deg); 
                width: 15px; 
                height: 1px; 
                background-color: #333; 
                
            }
            
             .btn_login {
                color: $color_1;
                font-size: $fz-m;
                letter-spacing: 2%;
                font-family: $ff-os;
                margin-left: 18px;
                cursor: pointer;
                position: relative;
            }
        }



        .header__content-block {
            display: flex;
            margin-top: 56px;
            background: $color_7;
            width: 100%;
        }

        .header__content-top {
            
            margin-top: 20px;
        
        }

        .header__content-header {
            font-family: $ff-prom;
            font-size: $fz-xxxl;
            line-height: 55px;
            letter-spacing: 7%;
            font-weight: 400;
            color: $color_3;
            span{
                color: $color_4;
            }
        }

        .header__content-text {
            margin-top: 18px;
            color: $color_5;
            font-family: $ff-os;
            font-size: $fz-s;
            letter-spacing: 2%;
            padding: 5px;

        }
        
        .header__content-bottom {
            display: flex;
            margin-top: 30px;
            
          .header__content-btn {
            background-color: $color_6;
            color: $color_11;
            padding: 3px 10px;
            border: none;
            border-radius: 6px;
            width: 150px;
            height: 44px;
            font-family: $ff-os;
            font-size: $fz-m;
            cursor: pointer;
            
          }

           .header__content-btn:hover {
                opacity: 0.5;
            }

          .header__content-visual {
            margin-left: 34px;
            display: flex;
            justify-content: center;
                align-items: center;
            .visual__icon {
                width: 44px;
                height: 44px;
                cursor: pointer;
            }
            
           
            
            .visual_btn {
                color: $color_1;
                font-size: $fz-m;
                font-family: $ff-os;
                margin-left: 10px;
                
                

            }
          }
          
        }

        .content-img {
             width: 601px;
               height: 523px;
           }
              
           .open {
            display: flex !important;
           }
           .burger {
            display: none;
            justify-content: flex-end;
            position: relative;
            z-index: 50;
            align-items: center;
            width: 25px;
            height: 16px;
           }

           .burger span {
            height: 2px;
            width: 80%;
            transform: scale(1);
            background: $color_1;
           }

           .burger::before,.burger::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $color_1;
            transition: all 0.3s ease 0s;
           }

           .burger::before {
            top: 0;
           }

           .burger::after {
            bottom: 0;
           }

           .burger.active-burger span {
            transform: scale(0);
           }

           .burger.active-burger::before {
            top: 50%;
            transform: rotate(45deg) translate(0, -55%);
           }

           .burger.active-burger::after {
            bottom: 50%;
            transform: rotate(-45deg) translate(0, 55%);
           }

           @media  (max-width: 900px) {
              .burger {
                display: flex;
              }
              .header_menu {
                display: none;
                position: fixed;
                height: 40%;
                width: 100%;
                z-index: 50;
                overflow-y: auto;
                padding: 20px;
                margin-top: 70px;
                background: $color_7;
                animation: burgerAnimation 0.4s;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

              }

              .menu_list {
                display: flex;
                flex-direction: column;
                
                
              }

              @keyframes burgerAnimation {
                from {opacity: 0}
                to {opacity: 1}
              }

              .header__content-image img{
                object-position: right;
              }
           }

           @media  (max-width: 860px) {
              .header__content-image img {
                max-width: 500px;
                height: 423px;
              }
              .header__content-header {
                font-size: $fz-xxl;
              }
           }

           @media (max-width: 760px) {
            .header__content-block {
                flex-direction: column-reverse;
            }
            .header__content-image {
                align-self: center;
            }
            .header__content-header {
                text-align: center;
            }
            .header__content-text {
                padding: 5px 25px;
                text-align: center;
            }
            .header__content-bottom {
                justify-content: center;
            }
           }

           @media (max-width: 640) {
            .header_logo {
                height: 35px;
                width: 85px;
                margin-right: 10px;
            }
                .search-input {
                padding: 8px;
                font-size: 12px;
                width: 200px;
                
               
            }
            .input-login__autorisation {
                display: flex;
            flex-direction: column;
           }
           
        }

        @media (max-width: 530px) {
            .input-login__input {
                display: none;
            }
            .header_logo {
                height: 25px;
                width: 65px;
                margin-right: auto;
            }
        }
        //**********************************************************************************//
      .main-block__container {
           background: $color_11;
           margin-top: 32px;
     
       .main-block-labels {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

       } 
       .label-img {
         max-width: 100%;
         margin: 5px;
       }

       .designSt {
        max-width: 57px;
         height: 67px;
       }
       .design {
        max-width: 126px;
         height: 106px;
       }

       .greenery {
       max-width: 153px;
        height: 69px;
       }
       .natural {
       max-width: 120px; 
        height: 112px;
       }

       .nature {
        max-width: 110px;
         height: 72px;
       }

       .company {
       max-width: 105px;
        height: 104px;
       }
       

    .main-block__findJob {
        
        margin: 66px 5px 0 5px;
        .findJob-text {
            color: $color_4;
            font-family: $ff-o;
            font-size: $fz-xs;
            letter-spacing: 5%;
            margin-bottom: 19px;
        }

        .findJob-container {
            display: flex;
            gap: 40px;
        }
    }  

     
    .findJob-info__block {
    flex: 1 1 50%; 
}
     .findJob-info__block h2 {
        
        font-family: $ff-o;
        font-size: $fz-xxl;
        letter-spacing: 5%;
        font-weight: 400;
        color: $color_3;
        line-height: 50px;
     }

     .findJob-info__items {

        display: flex;
        flex-direction: column;
        margin-top: 51px;
        .profile-item {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            background: $color_7;
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 16px;
            
            }
            
            .left-item {
                display: flex;
                  
            


                .profile-item__number {
                    display: flex;
                   background: $color_14;
                    color: $color_13;
                    width: 30px;
                    height: 30px;
                    border-radius: 6px;
                    justify-content: center;
                    align-items: center;
                    padding: 10px; 
                        
                }
                

                .three {
                    background: $color_16;
                    color: $color_4;
                }

                .two {
                    background: $color_15;
                }
                .profile-item__title {
                    color: $color_17;
                    font-family: $ff-os;
                    font-size: $fz-m;
                    margin-left: 20px;
                    font-weight: 600;
                    
                }

                .profile-item__text {
                    margin-top: 10px;
                    margin-left: 20px;
                    color: $color_5;
                    font-family: $ff-os;
                    font-size: $fz-xs;
                    line-height: 22px;
                    

                }
            }
        } 
        .profile-item:hover {
                opacity: 0.5;
     }
    
    
      .findJob-info__video {
        display: flex;
        flex: 1 1 50%; 
    
        justify-content: center;
        align-items: center;

        .findJob-info__item {
            flex: 1 1 45%;
            
        }

        .findJob-info__item iframe {
            max-height: 433px;
            width: 100%;
            border: none;
            border-radius: 20px;
        }
      }

      @media (max-width: 750px) {
        .findJob-container {
            flex-direction: column-reverse;
        }

      }

      ////////////////////////////////////////////////////////////////////////////////*
       
      .main-block__advantages {
        
        margin: 119px 5px 0 5px;
        
      }
      .advantages-titleBlock {
            display: flex;  
           justify-content: center;  
            
         
          .main-block__title {
        text-align: center;
        font-family: $ff-o;
        font-size: $fz-xxl;
        letter-spacing: 5%;
        line-height: 50px;
        color: $color_3;
        font-weight: 400;
      }  

      

      .main-block__subtitle {
        margin-top: 20px;
        text-align: center;
        max-width: 600px;
        color: $color_5;
        font-family: $ff-os;
        line-height: 24px;
        font-size: $fz-s;
        
      }
         }
        .advantages-cards {
            display: flex;
            justify-content: space-between;
            
        }
        .advantages-cards__body {
           max-width: 350px;
            margin-top: 60px;

            .advantage-cards__item {
             margin: 5px;
             box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.09);
             transition: transform 0.3s ease, background-color 0.3s ease;
            padding: 40px 37px 34px 37px;
            
            
            }
          
           

            .advantages-icon {
                padding: 8px;
                border-radius: 7px;
                width: 60px;
                height: 60px;
            }

            .advantages-card__title {
                font-family: $ff-os;
                font-size:  $fz-l;
                color: $color_17;
                font-weight: 600;
            }

            .advantages-card__text {
                font-family: $ff-os;
                font-size: $fz-s;
                color: $color_21;
            }
            

            .blue {
                background: $color_18;
                
            }
            .orange {
                background: $color_19;
            }
            .purple {
                background: $color_20;
            }
            .advantages-card__title {
                margin: 22px 0 15px 0;
            }
            
        }
         .titleBlock-body {
               justify-content: center; 
               padding: 40 px 37px;
            }
            .advantage-cards__item:hover {
                transform: scale(1.1); 
                background-color: $color_8; 
            }
          }
          
          @media (max-width: 750px) {
            .advantages-cards {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
           
          }

/////JOB CARDS///////////////////////////////////////////////////////////////////////////////////////*

.main-block__jobs {
    padding: 0 20px;
    margin-top: 119px;
    
    width: 100%;
   
    
     
    .jobs-titleBlock {
        display: flex;
        justify-content: center;
    }
    .jobs__title {
        @extend %mntitle;
    }

    .jobs__subtitle {
        @extend %mnsubtitle;
    }
}
    .job__jobCards {
        margin-top: 80px;
        display: flex;
        
        
            
        .action-button__buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 70px;
            transform: translateX(-50%);
            gap: 5px;
            
            .body-button__left {
                background: $color_8;
                border-radius: 8px;
                cursor: pointer;
                
                
            }
            .body-button__right {
                background: $color_8;
                border-radius: 8px;
                cursor: pointer;
            }

            
            .toggleButton {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 8px;
                transition: fill 0.3s ease;
                transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
                fill: $color_19;
            }
            .swiper-button__left {
                padding: 12px;
                fill: $color_11;
                width: 40px;
                height: 40px;
                border-radius: 8px;
            }
              

             .swiper-button__right {
                border-radius: 8px;
                fill: $color_11;
                cursor: pointer;
                padding: 12px;
                width: 40px;
                height: 40px;
                
            }
             


            

            .white {
                background-color: #FFC085;
                fill: $color_11;
            }
            
               }
             

            .job-cards__body {
                display: flex;
                justify-content: center;
                 
                transition: transform 0.3s ease-in-out;
                
                .job-cards__item {
                    
                    
                    
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 calc(45% - 20px);
                    height: 465px; 
                    max-width: 380px; 
                    background-color: #fff;
                    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
                    border-radius: 10px;
                    padding: 10px;
                    text-align: center;

                    
                     .item-dotsIcon {
                        margin-top: 40px;
                        margin-left: 260px;
                        cursor: pointer;
                     }
                     .item-userImg {
                        width: 83px;
                        height: 83px;
                        align-self: center;
                     }
                     .job-card__title {
                        margin-top: 41px;
                        font-family: $ff-os;
                        font-size: $fz-l;
                        color: $color_17;
                     }
                     .job-card__subtitle {
                        margin-top: 16px;
                        color: $color_2;
                        font-family: $ff-os;
                        font-size: $fz-s;
                     }
                     .job-card__salary {
                        display: flex;
                        justify-content: center;
                        margin-top: 44px;
                        gap: 10px;
                        font-size: $fz-m;
                        font-family: $ff-os;
                        color: $color_17;
                        span {
                            color: $color_22;
                            font-size: $fz-s;
                            font-family: $ff-os;
                        }
                     }
                     .job-card__location {
                        display: flex;
                        justify-content: center;
                        margin-top: 14px;
                        gap: 10px;
                        .location-city {
                            font-size: $fz-m;
                            font-family: $ff-os;
                            color: $color_17;
                            
                        }
                        .location-city__map {
                                color: $color_22;
                                font-size: $fz-s;
                                font-family: $ff-os;
                            }
                       }
                       .job-card__bottom {
                        display: flex;
                        justify-content: center;
                        gap: 29px;
                        margin-top: 33px;
                        .heart-icon {
                            padding: 16px;
                            border-radius: 50px;
                            transition: filter 0.3s;
                            background: $color_18;
                            
                        }
                        
                        .job-card__btn {
                            
                            justify-content: center;
                            align-items: center;
                            background: $color_14;
                            padding: 15px 35px;
                            border: none;
                            border-radius: 47px;
                            cursor: pointer;
                            color: $color_14;
                            font-family: $ff-os;
                            font-size: $fz-m;
                            
                            color: $color_23 ;
                            
                        }
                      

                       }
                }
               .job-cards__item:hover {
                transform: scale(1.1);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
              }
            }
             .swiper {
                
                
                padding: 30px;
                        
                    }
               .swiper-slide {
                        width: auto;
                        transition: transform 0.5s ease, background-color 0.5s ease;
                      }

               .swiper-wrapper {
                width: 65%; 
                
            }   
            .swiper-slide-active {
                transform: scale(1.1); 
                background: $color_8; 
                
                transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
            }  
           
            .active-slide{
                color: #38318B;
                transform: scale(0.9);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }
            
            /* Изменяем цвет кнопки */
            .active-slide .job-card__btn {
                background: #EF6010; 
                color: white;
            }
            
            /* Изменяем цвет иконки */
            .active-slide .heart-icon {
                filter: invert(100%); /* Делаем иконку белой */
            }
           
    }


    .jobs__bottom-btn {
        
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%; 
        margin-top: 76px;             
    }
     .bottom-btn  {
               
               
               justify-content: center;
                background: $color_6;
                padding: 15px 35px;
                border: none;
                border-radius: 47px;
                cursor: pointer;
                color: $color_11;
                font-family: $ff-os;
                font-size: $fz-m;
                width: 152px;
                height: 49px;
                align-items: center;
                
            }
            .bottom-btn:hover{
                opacity: 0.5;
            }

///reviews///////////////////////////////////////////////////

.main-block__reviews {
    margin: 119px 5px 0 5px;
    
    .reviews-titleBlock {
        display: flex;
        justify-content: center;
        flex-direction: column;
       .titleBlock-body {
         justify-content: center;
         align-self: center;
      
    .main-block__title {
        @extend %mntitle;
    }
    .main-block__subtitle {
       @extend %mnsubtitle;
        }
     }
        
     }
     .reviews-block__body {
        margin-top: 45px;
        

     }
     .reviews-block__item {
        display: flex;
        justify-content: space-between;
        gap: 29px;
     }

     .reviews-block__img {
         position: relative;
       
       .deco-img {
            position: absolute;
            top: 13px;
            left: 50px;
       }
       .dotsSquare-img {
           position: absolute;
           top: 250px;
           left: -2px;
       }

       
     }

     
    
   .reviews-block__top{
    margin-top: 35px;
    
   .reviews-block__title {
        color: $color_17;
        font-family: $ff-os ;
        font-size: $fz-l;
        font-weight: 600;
        
       } 

       .reviews-block__subtitle {
        margin-top: 13px;
        color: $color_24;
        font-family: $ff-os;
        line-height: 24px;
        font-size: $fz-s;
       }
    }
    .reviews-block__rating {
        margin-top: 16px;
       
       display: flex;
       justify-content: flex-end;
       gap: 10px;
       .stars-icon {
        height: 13px;
        justify-content: center;
        align-self: center;
       }
       .rating-points {
        font-size: $fz-l;
        color: $color_17;
        font-weight: 600;
        
       } 
    }
    .reviews-block__userReview {
        margin-top: 6px;
        max-width: 730px;
        
        .userReview__text {
            font-family: $ff-os;
        line-height: 24px;
        font-size: $fz-m;
        color: $color_17; 
        }
       
    }
    .reviews-block__bottom {
        margin-top: 51px;
        .bottom-body {
            display: flex;
            justify-content: space-between;
        }
        
    }
    .reviews-block__buttons {
        display: flex;
        gap: 10px;
    }
    .reviews-body__left {
     
     
    .reviews-button__left {
         width: 40px;
      height: 40px;
      border-radius: 8px;
        
        border-radius: 8px;
        transition: fill 0.3s ease;
        transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
        fill: $color_19;
         background-color: $color_8;
        padding: 8px;
        cursor: pointer;
    }
    }

    .reviews-body__right { 
       
       
    .reviews-button__right {
       border-radius: 8px; 
       width: 40px;
        height: 40px;
         background-color: $color_8;
        transition: fill 0.3s ease;
        transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
        fill: $color_19;
        
        padding: 8px;
        cursor: pointer;
    }
}
    .reviews-active {
        background: #38318B;
        color: white;
    }
    
   }

   @media (max-width: 750px) {
    .reviews-block__item  {
        flex-direction: column;
        
    }

    .swiper {
        margin: 5px;
    }
    .reviews-block__img {
        align-self: center;
    }
    .swiper-wrapper {
       max-width: 350px;
    }
   }

   @media (max-width: 440px) {
    .review-img {
        max-width: 300px;
        max-height: 300px;
    }
   }
 //////statistic/////////////////////////////////////////////////////////////////
 
     .main-block__statistic {
        margin-top: 78px;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        background-color: $color_9;
        border-radius: 30px;
        padding: 115px 120px 33px 120px;
        .statistick-info {
             margin: 5px;
            text-align: center;
            .statistick-amount {
                font-family: $ff-o;
                font-size: $fz-xxl;
                letter-spacing: 5%;
                line-height: 50px;
                color: $color_25;
            }
            .statistic-name {
                color: $color_11;
                font-family: $ff-os;
                font-size: $fz-m;
                line-height: 24px;
            }
        }
     }    
      @media (max-width: 750px) {
        
        .main-block__statistic { 
            padding: 50px 30px; 
           

        }
        .main-block__statistic .statistick-info .statistick-amount  {
            font-size: $fz-m;
            line-height: 35px;
        }
        .main-block__statistic .statistick-info .statistic-name {
           line-height: 20px;
           font-size: $fz-s;
        }
      }
     /////Pricing Plan///////////////////////////////////////////////////////////////////////////
     

     .main-block__pricingPlane {
        margin: 160px 5px 0 5px;
        .pricingPlane-titleBlock {
            display: flex;
              justify-content: center; 
            .titleBlock-body {
               
               
               
              .pricingPlan__title {
                 @extend %mntitle;
              }
               .pricingPlan__subtitle {
                @extend %mnsubtitle;
                   
               }


            }           
        }
        .pricingPlane-cardsBody {
            display: flex;
            justify-content: space-between;
            margin-top: 75px;
            gap: 30px;
            .cardsBody-item {
                margin: 5px;
                display: flex;
                justify-content: center;
                flex-direction: column;  
                box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
                background: $color_11;
                border-radius: 20px;
                padding: 10px 65px 65px 65px;
                transition: transform 0.3s ease, background-color 0.3s ease;

                .item-status {
                    text-align: center;
                    color: $color_2;
                    font-family: $ff-os;
                    font-size: $fz-l;
                    line-height: 30px;
                    margin-top: 53px;
                }
                .item-price {
                    text-align: center;
                    color: $color_3;
                    line-height: 55px;
                    letter-spacing: 7%;
                    font-family: $ff-o;
                    font-size: $fz-xxxl;
                    margin-top: 31px;
                }

                .price-period {
                    font-family: $ff-os;
                    font-size: $fz-m;
                    color: $color_26;
                    line-height: 24px;
                    text-align: center;
                    margin-top: 24px;
                }
                   .description-list__container {
                        margin-top: 61px;
                        align-self: center;
                        .descriptions-list {
                            display: flex;
                            gap: 11px;
                            padding: 10px 0 10px 0;
                            .descriptions-icon {
                                display: flex;
                                justify-content: center;
                                align-self: center;
                            }
                            .descriptions-text {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-family: $ff-os;
                                font-size: $fz-s;
                                color: $color_5;
                                line-height: 24px;
                            }

                            
                            
                        }
                        
                        
                    }
                  
               .description-btn {
                                margin-top: 47px;
                                display: flex;
                                justify-content: center;
                                

                                .purchase-btn {
                                    background: $color_27;
                                    color: $color_11;
                                    font-size: $fz-m;
                                    font-family: $ff-os;
                                    line-height: 62px;
                                     border-radius: 50px;
                                      border: none;
                                       width: 172px;
                                       height: 43px;
                                       align-items: center;
                                       justify-content: center;
                                       display: flex;
                                     
                                      
                                }

                            }
                         
            }
             
            
        }
        .cardsBody-item:hover {
            transform: scale(1.1); /* Увеличение на 10% */
            background-color: $color_8; /* Меняем цвет при наведении */
      
        }
           .cardsBody-item:hover button.purchase-btn {
                                background: #38318B !important;
                            }  
     }
    
    @media (max-width: 1040px) {
        .cardsBody-item {
            padding: 10px 20px;
            margin: 15px;
        }
    }

    @media (max-width: 860px) {
        .pricingPlane-cardsBody {
            flex-direction: column;
            
        }
         .main-block__pricingPlane .pricingPlane-cardsBody .cardsBody-item {
             padding: 20px 15px;
            margin: 60px;
        }
    }
     ///////FOOTER////////////////////////////////////////////////////////////////////////////
     .footer {
       border-radius: 40px 40px 0 0;  
        background-color: $color_28;
    
     .footer-block {
        margin-top: 119px;
        padding: 20px;
        width: 100%;

        .footer-body {
            
            display: flex;
            justify-content: space-between;
          .footer__column {
            margin-top: 110px;
            .footer-title {
                font-family: $ff-o;
                font-size: $fz-xl;
                color: $color_3;
                line-height: 26px;
                font-weight: 400;
            }
            ul {
                list-style: none;
                margin-top: 28px;
                
                li {
                    padding: 10px 0 10px 0;
                    
                    font-family: $ff-os;
                    font-size: $fz-m;
                    line-height: 26px;
                }
                a {
                    color: $color_29;
                }
            }
          }
        }
     }

     .divider {
        height: 2px;
        background-color: $color_10;
        margin-top: 90px; 
        width: 100%;
    }
    .footer-block__bottom {
        display: flex;
        justify-content: space-between;
        margin: 14px 0;
        .footer__logo {
            width: 62px;
            height: 25px;
            cursor: pointer;
        }
        
        .footer-center-item  {
                margin-left: 65px;
                color: $color_30;
                font-size: $fz-xs;
                font-family: $ff-os;
                line-height: 26px;
                cursor: pointer;
                font-weight: 500;
            }
          .extra {
          font-size: $fz-s;
          font-weight: 600;
         }
         .footer__right-icon{
            background-color: $color_11;
            border-radius: 50px;
            padding: 8px;
            width: 29px;
            height: 29px;
            margin-left: 10px;
            cursor: pointer;
         }
         .twitter-extra {
            background: $color_2;
         }
    }
   
     }

     .orange {
        background: $color_31 !important;
        color: $color_8 !important;
         
    }

    @media (max-width: 750px) {
        
       .footer .footer-block .footer-body .footer__column .footer-title {
            font-size: $fz-m;
            line-height: 20px;
        }

        .footer .footer-block .footer-body .footer__column  ul li {
            font-size: $fz-xs;
            line-height: 20px;
        }
       
       .footer .footer-block {
            margin-top: 100px;
            padding: 10px;
        }
    }

   